<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="~/css/" />
        <title>Restoran</title>
   </head>
   <body>
        <style>
         body{
        background-image: url(../../wwwroot/images/background-2672565__340.jpg);
        background-repeat: no-repeat;
        background-position:center center;
        background-attachment: fixed;
        background-size: cover;
         }
        </style>

     

    @{
        ViewData["Title"] = "Home Page";
    }

<div class="text-center">
    <h1 class="display-4">Akay Restorana Hoşgeldiniz.!</h1>



</div>
    
</body>
</html>