@{
    ViewData["Title"] = "PROFİL";
}


<div class=" row"> 
    <div class="col-4 offset-4">
        <h1 style="text-transform:uppercase" class="display-4 border-bottom text-center pb-2 ">  @ViewData["Title"]</h1>
    </div>

</div>